[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
djangorestframework = "*"
uwsgi = "*"
pyjwt = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
