[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jwt = "*"
requests = "*"
python-dotenv = "*"
djangorestframework = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.12"
