[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.local/share/virtualenvs/nexus-ngYVjGRj/bin/uwsgi -i /home/ubuntu/nexus/.config/uwsgi/nexus.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target